@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Online Clinic System</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <a asp-controller="Admin" asp-action="Index">Admin</a>
    <a asp-controller="Reporter" asp-action="Index">Reporter</a>
    <a asp-controller="Signin" asp-action="Index">User</a>
</div>
